.snake {
    -fx-fill: red;
}
.food {
    -fx-fill: lightblue;
}
.button-menu Text {
    -fx-fill: white;
}
.back {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100060, #293360);
}